<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Croaker_Mic_Watcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Croaker_Mic_Watcher.Properties.Settings>
            <setting name="RoomName" serializeAs="String">
                <value>PLaYa_L0uNgE</value>
            </setting>
            <setting name="DataPath" serializeAs="String">
                <value>c:\croaker\micsessions.xml</value>
            </setting>
            <setting name="SafeListPath" serializeAs="String">
                <value>c:\croaker\safelist.xml</value>
            </setting>
            <setting name="WarnThreshold" serializeAs="String">
                <value>00:06:00</value>
            </setting>
            <setting name="BlockThreshold" serializeAs="String">
                <value>00:07:00</value>
            </setting>
            <setting name="BlockPeriod" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ResetInterval" serializeAs="String">
                <value>00:20:00</value>
            </setting>
            <setting name="AutoUnblock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendToRoom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WarnUser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlockUser" serializeAs="String">
                <value>False</value>
            </setting>
        </Croaker_Mic_Watcher.Properties.Settings>
    </userSettings>
</configuration>